.AboutMeBkg
{
    padding:3%;
    background-color: rgb(38,40,41);
    color:white;
    font-family: "ui-monospace";
    text-align: center;
    padding-right: 10%;
    font-size: 3vh;
}
#dpRound
{    
    /* float: left; */
    border-radius: 80%;
    height:auto;
    width: 60%;
}

